<!DOCTYPE html>
<html>
<head>
  <title>Resizing rails</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    "resizing/rails/application", media: "all" %>
  <%= javascript_include_tag "resizing/rails/application" %>
  <%#= javascript_include_tag "resizing/rails/video.js" %>
  <%#= javascript_include_tag asset_bundle_path('main.js') %>
</head>
<body>

<%= yield %>

<%= render 'resizing/rails/templates/video' %>
</body>
</html>
